<!-- This is the profile page for an individual reptile -->

<div class='container'></br>
	<h1>Profile for Reptile</h1>
	<a href="/edit" class="btn btn-warning">Edit</a>
	<a href="#" class="btn btn-primary">Share</a>
	<div class='container'>
		<img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/A-G/gecko-on-leaf.adapt.945.1.jpg">
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Species</th>
					<th>Sex</th>
					<th>Weight</th>
					<th>Morph</th>
					<th>Sire</th>
					<th>Dam</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><%=@cur_rep.id%></th>
					<th><%=@cur_rep.name%></th>
					<th><%=@cur_rep.species%></th>
					<th><%=@cur_rep.sex%></th>
					<th><%=@cur_rep.id%></th>
					<th><%=@cur_rep.morph%></th>
					<th><a href="/profile/<%=@cur_rep.sire_id%>"><%=@cur_rep.sire_id%></a></th>
					<th><a href="/profile/<%=@cur_rep.dam_id%>"><%=@cur_rep.dam_id%></a></th>
				</tr>
			</tbody>
		</table>
	</div>

</div>