<!-- This is the profile page for an individual reptile -->

<div class='container'></br>
	<h1><%=@cur_rep.name%></h1>
	<a href="/edit/<%=@cur_rep.id%>" class="btn btn-warning">Edit</a>
	<details class="get-repo-select-menu js-get-repo-select-menu float-right position-relative dropdown-details details-reset">
  		<summary class="btn btn-primary">Share
    		<span class="dropdown-caret"></span>
  		</summary>
  		<div class="position-relative">
    		<div class="container">
          		<p class="mb-2">Copy link to share this profile</p>
			    <div class="input-group">
			  		<input type="text" class="form-control input-monospace input-sm js-url-field" value="https://salty-beyond-46444.herokuapp.com/profile/<%=@cur_rep.id%>/share" readonly="">
				</div>
			</div>
        </div>
	</details>
	<form onsubmit="return confirm('Are you sure you want to delete this reptile?')" action="/<%=@cur_rep.id%>" method="POST">
    	<input type="hidden" name="_method" value="DELETE">
    	<button type="submit" class="btn btn-danger">Delete</button>
  	</form>
	<div class='container'></br></br>
		<img src="<%=@cur_rep.image_url%>">
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Species</th>
					<th>Sex</th>
					<th>Weight</th>
					<th>Morph</th>
					<th>Sire</th>
					<th>Dam</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><%=@cur_rep.id%></th>
					<th><%=@cur_rep.species%></th>
					<th><%=@cur_rep.sex%></th>
					<th><%=@cur_rep.weight%> gram(s)</th>
					<th><%=@cur_rep.morph%></th>
					<th><a href="/profile/<%=@cur_rep.sire_id%>"><%=@cur_rep.sire_id%></a></th>
					<th><a href="/profile/<%=@cur_rep.dam_id%>"><%=@cur_rep.dam_id%></a></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>